.canon {
    background-color: black;
    bottom: 300px;
    height: 100px;
    left: 100px;
    /*transform: rotate(10deg);*/
    position: fixed;
    width: 30px;
}

.spot {
    background-color: red;
    border-radius: 50%;
    bottom: 300px;
    height: 50px;
    left: 900px;
    position: fixed;
    width: 50px;
}

.ball {
    background-color: black;
    border-radius: 50%;
    bottom: 340px;
    height: 20px;
    left: 105px;
    position: fixed;
    width: 20px;
}
